* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section {
  padding: 50px 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  width: 30%;
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 0px rgb(34 60 80 / 20%);
}

.post__title {
  text-align: center;
  margin-bottom: 20px;
}

.post__description {
  text-align: center;
}

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 10px;
}

.form__input {
  margin-bottom: 20px;
}

.form__button {
  display: block;
  width: 100px;
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 8px 0px rgb(34 60 80 / 20%);
  padding: 10px;
  cursor: pointer;
}

.form__button:hover {
  background-color: red;
}